<template>
  <Layout>
    <div class="inner-page">
      <div class="slider-item overlay" id="scoped-hero" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-9 text-center col-sm-12 element-animate">
              <h1 class="mb-4">About Us</h1>
              <p class="custom-breadcrumbs">
                <g-link to="/index">Home</g-link>
                <span class="mx-3">/</span> About
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mr-auto mb-5">
            <span class="d-block text-uppercase text-secondary">Who We Are</span>
            <span class="divider my-4"></span>
            <h2 class="mb-4 section-title">
              We Are An Experienced
              <strong>Product Development Team</strong> That Bring Your Ideas To
              Life
            </h2>
            <p>
              We’re focused on bringing your idea to market faster, learning
              quicker and shaping a business model that is based on a solid
              product-market fit.
            </p>
            <p>
              <g-link to="/ontact" class="btn btn-outline-black">Contact Us</g-link>
            </p>
          </div>
          <div class="col-lg-6">
            <figure class="img-dotted-bg">
              <img src="~@/assets/images/about_1.jpg" alt="Image" class="img-fluid" />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-md-2">
            <figure class="img-dotted-bg">
              <img src="~@/assets/images/hero_2.jpg" alt="Image" class="img-fluid" />
            </figure>
          </div>
          <div class="col-md-5 mr-auto">
            <h2 class="mb-4 section-title">
              We're
              <strong>Committed</strong> To Delivering Exceptional
              Products
            </h2>
            <p>
              We're hugely passionate about what we do and spend a lot of time
              making sure we're able to use the best technology to deliver the
              ideal solutions for our clients
            </p>
            <p>
              Software development has been evolving at an incredible rate over
              the past decade and the tools that are available today enable
              projects to be realised at a fraction of the time and cost they
              would have taken previously
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="mb-4 section-title">
              Meet Our
              <strong>Team</strong>
            </h2>
            <p class="mb-5 lead">
              With over
              <strong>20 years</strong> of experience in software
              development and recruitment within the team
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="media d-block media-custom text-center">
              <g-link to="/">
                <img src="~@/assets/images/tom.jpg" alt="Tom" class="img-fluid" />
              </g-link>
              <div class="media-body">
                <h3 class="mt-0 text-black">Tom Baker</h3>
                <p>Lead Software Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="media d-block media-custom text-center">
              <g-link to="/">
                <img src="~@/assets/images/jac.jpg" alt="Jac" class="img-fluid" />
              </g-link>
              <div class="media-body">
                <h3 class="mt-0 text-black">Jac Evans</h3>
                <p>Business Analyst, Marketing</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="media d-block media-custom text-center">
              <g-link to="/">
                <img src="~@/assets/images/chris.jpg" alt="Chris" class="img-fluid" />
              </g-link>
              <div class="media-body">
                <h3 class="mt-0 text-black">Chris Baker</h3>
                <p>Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "About us"
  }
};
</script>

<style lang="scss" scoped>
#scoped-hero {
  background-image: url("~@/assets/images/hero_2.jpg");
}
</style>
