<template>
  <Layout>
    <div class="inner-page">
      <div class="slider-item overlay" id="scoped-hero" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-9 text-center col-sm-12 element-animate">
              <h1 class="mb-4">Contact Us</h1>
              <p class="custom-breadcrumbs">
                <g-link href="/">Home</g-link>
                <span class="mx-3">/</span> Contact
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 order-2">
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" />
                </div>
                <div class="col-md-6 form-group">
                  <label for="phone">Phone</label>
                  <input type="text" id="phone" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group"></div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">Write Message</label>
                  <textarea name="message" id="message" class="form-control" cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input
                    type="submit"
                    @click="sendMessage"
                    :value="messageSent ? 'Message Sent' : 'Send Message'"
                    :disabled="messageSent"
                    :class="['btn px-3 py-3', messageSent ? 'btn-success' : 'btn-primary']"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6 order-2 mb-5">
            <div class="row justify-content-right">
              <div class="col-md-8 mx-auto contact-form-contact-info">
                <p class="d-flex">
                  <span class="ion-ios-location icon mr-5"></span>
                  <span>
                    342 Hampreston, Wimborne, Dorset, BH21 7LX, United
                    Kingdom
                  </span>
                </p>

                <p class="d-flex">
                  <span class="ion-ios-telephone icon mr-5"></span>
                  <span>+44 7494 050524</span>
                </p>

                <p class="d-flex">
                  <span class="ion-android-mail icon mr-5"></span>
                  <span>info@phaseze.ro</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Contact"
  },
  data() {
    return {
      messageSent: false
    };
  },
  methods: {
    sendMessage(e) {
      e.preventDefault();
      this.messageSent = true;
      console.log("Sent");
    }
  }
};
</script>

<style lang="scss" scoped>
#scoped-hero {
  background-image: url("~@/assets/images/hero_2.jpg");
}
</style>