<template>
  <Layout>
    <div class="slider-item overlay" data-stellar-background-ratio="0.5" id="scoped-hero">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-9 text-center col-sm-12">
            <h1 class="mb-4">Digital Product Developement</h1>
            <!-- <div class="btn-play-wrap mx-auto">
            <p class="mb-4"><a href="https://www.youtube.com/watch?v=_VnYSoMI-9Q" data-fancybox data-ratio="2"
                class="btn-play"><span class="ion ion-ios-play"></span></a></p>
            </div>-->
            <!-- <span>Watch Video</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mr-auto mb-5">
            <span class="d-block text-uppercase text-secondary">Who We Are</span>
            <span class="divider my-4"></span>
            <h2 class="mb-4 section-title">
              We Are A
              <strong>Product Development Agency</strong> That Bring Your Ideas Alive
            </h2>
            <p>PhaseZero is an experienced product development team, stripped down to the essentials. We’re focused on bringing your idea to market faster, learning quicker and shaping a business model that is based on a solid product-market fit.</p>
            <p class="mb-5">If you'd like to talk to us about your product or idea...</p>
            <p>
              <g-link to="/contact" class="btn btn-outline-black">Contact Us</g-link>
            </p>
          </div>
          <div class="col-lg-6">
            <figure class="img-dotted-bg">
              <g-image src="~/assets/images/about_1.jpg" alt="Image" class="img-fluid" />
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="section portfolio-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="mb-4 section-title">Latest Work</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <g-link to="/affina" class="work-thumb">
              <div class="work-text">
                <h2>Affina</h2>
                <p>Web App</p>
              </div>
              <g-image src="~/assets/images/affina_narrow.jpg" alt="Image" class="img-fluid" />
            </g-link>
            <g-link to="/viabode" class="work-thumb">
              <div class="work-text">
                <h2>Viabode</h2>
                <p>CRM</p>
              </div>
              <g-image src="~/assets/images/viabode_wide.jpg" alt="Image" class="img-fluid" />
            </g-link>
          </div>
          <div class="col-lg-6">
            <g-link to="/timeapproved" class="work-thumb">
              <div class="work-text">
                <h2>TimeApproved</h2>
                <p>Web App</p>
              </div>
              <g-image src="~/assets/images/timeapproved_wide.jpg" alt="Image" class="img-fluid" />
            </g-link>
            <g-link to="/techhouse" class="work-thumb">
              <div class="work-text">
                <h2>TechHouse</h2>
                <p>Web App</p>
              </div>
              <g-image src="~/assets/images/techhouse_thumb.jpg" alt="Image" class="img-fluid" />
            </g-link>
          </div>
        </div>
        <!-- <div class="row mt-5">
        <div class="col-12 text-center">
          <p><a href="portfolio.html" class="btn btn-outline-white px-4 py-3">More Portfolio</a></p>
        </div>
        </div>-->
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mr-auto mb-3">
            <span class="d-block text-uppercase text-secondary">Featured Services</span>
            <span class="divider my-4"></span>
            <h2 class="mb-4 section-title">
              The
              <strong>Services</strong> That We Provide
            </h2>
            <p>We help startups deliver high quality and innovative digital products. No matter the size of the project we approach it with the same high level of thought and care</p>
          </div>
          <div class="col-lg-6">
            <div class="row mt-5">
              <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                  <span class="icon icon-shield mb-4 d-block"></span>
                  <h3>Design Strategy</h3>
                  <p>We're able to bring together clients needs and business strategy with a clear, well defined vision to deliver digital products and services that will help your business thrive</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                  <span class="icon icon-screen-desktop mb-4 d-block"></span>
                  <h3>Web Applications</h3>
                  <p>The worlds of web development and traditional software are merging. We've experience in both and can help you pick the right technology to meet your needs for the best price</p>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                  <span class="icon icon-screen-smartphone mb-4 d-block"></span>
                  <h3>Cloud Architecture</h3>
                  <p>With experience using AWS, Google Cloud and Azure we're well equipped to advise you in building the best infrastructure for your businesses needs</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mb-4">
                <div class="service">
                  <span class="icon icon-rocket mb-4 d-block"></span>
                  <h3>Start Up</h3>
                  <p>With our expertise in the software development industry we can help you validate ideas and get access to initial and follow-on investment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section bg-light block-11">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
              <h2 class="mb-4 section-title">Testimonial</h2>
            </div>
          </div>
          <div class="nonloop-block-11 owl-carousel">
            <div class="item">
              <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center">
                    <img src="~@/assets/images/person_3.jpg" alt="Person here" />
                  </div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Sean Riley</h2>
                    <span class="meta">Affina</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; The guys at PhaseZero are excellent. They helped us realise what the tool was we needed and built it quickly and accurately &ldquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center">
                    <g-image src="~/assets/images/person_2.jpg" alt="Person here" />
                  </div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Luke Meridith</h2>
                    <span class="meta">Viabode</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Viabode was something I'd thought about a lot but without PhaseZero's help I wouldn't have been able to craft it into what it needed to be. Over the moon with the results and looking forward to working with them again &ldquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center">
                    <g-image src="~/assets/images/person_1.jpg" alt="Person here" />
                  </div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Alastair Dawson</h2>
                    <span class="meta">TechHouse</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; PhaseZero helped us understand what tools we could create to help us do our job better and found the perfect team to do it &ldquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center">
                    <g-image src="~/assets/images/person_4.jpg" alt="Person here" />
                  </div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">Martin Lawes</h2>
                    <span class="meta">Platform Recruitment</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; Without the guys at PhaseZero helping I think we'd still be talking about what we needed. Instead the software is in use today and we save a huge amount of time each day as a result&ldquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary py-5">
      <div class="container text-center">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <h3 class="text-white mb-4 font-weight-normal">Do You Have Project In Mind?</h3>
            <p class="text-white mb-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolorem voluptas
              soluta quo, odio
              quaerat.
            </p>

            <p class="mb-0">
              <g-link to="/contact" class="btn btn-outline-white px-4 py-3">Get In Touch!</g-link>
            </p>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Home"
  }
};
</script>

<style lang="scss" scoped>
.home-links a {
  margin-right: 1rem;
}

#scoped-hero {
  background-image: url("~@/assets/images/hero_2.jpg");
}
</style>
