<template>
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="mb-4">About PhaseZero</h3>
          <p class="mb-5">We help you design and create beautiful digital products</p>
          <!-- <ul class="list-unstyled footer-link d-flex footer-social">
            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
          </ul>-->
        </div>
        <div class="col-md-5 mb-5 pl-md-5">
          <div class="mb-5">
            <h3 class="mb-4">Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">342 Hampreston, Wimborne, Dorset, BH21 7LX, United Kingdom</span>
              </li>
              <li class="d-block">
                <span class="d-block">Telephone:</span>
                <span class="text-white">+44 7494 050524</span>
              </li>
              <li class="d-block">
                <span class="d-block">Email:</span>
                <span class="text-white">info@phazeze.ro</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <h3 class="mb-4">Quick Links</h3>
          <ul class="list-unstyled footer-link">
            <li>
              <g-link to="/about">About</g-link>
            </li>
            <li>
              <a href="#">Terms of Use</a>
            </li>
            <li>
              <a href="#">Disclaimers</a>
            </li>
            <li>
              <g-link to="/contact">Contact</g-link>
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            Copyright &copy;
            {{year}}
            All Rights Reserved | PhaseZero
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      year: ""
    };
  },
  created() {
    this.year = new Date().getFullYear();
  }
};
</script>

<style lang="scss" scoped>
</style>

