<template>
  <div class="p-layout">
    <header class="header">
      <!-- <strong>
        <g-link to="/">{{ $static.metaData.siteName }}</g-link>
      </strong>-->
      <!-- <nav class="nav">
        <g-link class="nav__link" to="/">Home</g-link>
        <g-link class="nav__link" to="/about">About</g-link>
      </nav>-->
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <g-link class="navbar-brand" to="/">PhaseZero</g-link>

          <button
            class="navbar-toggler"
            @click="navOpen = !navOpen"
            type="button"
            data-toggle="collapse"
            data-target="#navbars05"
            aria-controls="navbars05"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div :class="[navOpen ? '' : 'collapse', 'navbar-collapse']" id="navbars05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <g-link class="nav-link" exact to="/">Home</g-link>
              </li>
              <li class="nav-item">
                <g-link class="nav-link" to="/about">About</g-link>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="#">Branding</a>
                  <a class="dropdown-item" href="#">Web Design</a>
                  <a class="dropdown-item" href="#">App Design</a>
                  <a class="dropdown-item" href="#">Start Up</a>
                </div>
              </li>-->
              <!-- <li class="nav-item">
                <a class="nav-link" href="portfolio.html">Portfolio</a>
              </li>-->
              <li class="nav-item">
                <g-link class="nav-link" to="/contact">Contact</g-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <slot />
    <p-footer />
  </div>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>

<script>
import PFooter from "~/components/Footer.vue";

export default {
  components: {
    PFooter
  },
  data() {
    return {
      navOpen: false,
      year: ""
    };
  },
  created() {
    this.year = new Date().getFullYear();
  }
};
</script>


<style>
.p-layout {
  max-width: 100vw;
  overflow-x: hidden;
}
.header {
  background-color: #404040b3 !important;
}
</style>
